@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('/src/imports/colours.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background: var(--background-hex);
}

.error {
    width: 100vw;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error h1 {
    color: white;
}

.error p {
    color: white;
    width: 80%;
    text-align: center;
}

.error a {
    color: var(--primary_light);
}

.redirect {
    display: none;
    width: 100vw;
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}