:root {
    --primary_light: #2B838C;
    --primary_light_rgb: rgb(43, 131, 140);
    --primary_dark_rgb: rgb(15, 36, 38);
    --primary_dark: #0F2426;
    --light: #EEEEEE;
    --dark: #212121;
    --background-hex: #121212;  
    --background-rgba: rgba(18,18,18,1);
    --notquitewhite: #F5F5F5;
}

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.transition-out {
    animation: transition-out 250ms ease-out forwards;
}

.loading-icon {
    position: fixed;
    height: 100svh;
    width: 100vw;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loading-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: rgba(43, 131, 140, 0.3);
    border-radius: 20px;
}

.lds-grid {
    display: inline-flex;
    position: absolute;
    width: 80px;
    height: 80px;
} 

.lds-grid span {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #54a9fd;
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid span:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.lds-grid span:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.lds-grid span:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.lds-grid span:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.lds-grid span:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.lds-grid span:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.lds-grid span:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.lds-grid span:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.lds-grid span:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
} 


@keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

@keyframes transition-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}