@import url('/src/imports/meta.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: var(--background-rgba);
}

.banner_storage {
  position: relative;
  height: 100svh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0), var(--background-rgba)), url("/src/img/banner_storage.png") center center/cover no-repeat;
}

.banner_storage h1 { /* For google's algorithm, an invisible h1 tag as the image is what says MCMD */
  display: none;
}

.banner_storage img {
  -webkit-user-drag: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 40em;
  height: auto;
  filter: hue-rotate(180deg);
  opacity: 0;
  animation: banner_storage-logo 1s ease-out forwards;
}

.banner_storage p {
  position: absolute;
  top: 71%;
  width: 80vw;
  padding-top: 75px;
  text-align: center;
  font-family: 'Poppins';
  font-style: italic;
  font-size: 1.5em;
  color: var(--notquitewhite);
  opacity: 0;
  animation: banner_storage-p 1s ease-out forwards;
  animation-delay: 0.75s;
}

@keyframes banner_storage-logo {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
  
@keyframes banner_storage-p {
  0% {
    opacity: 0;
    transform: translate(0, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(0, -50%);
  }
} 

.command_help {
  height: 100vh;
  background-color: var(--background-rgba);
}

@media (max-width: 772px) {
  .intro p {
    top: 75vh;
  }
}

/* NO SHOW (phones, 500px and down) */
@media only screen and (max-width: 50px) {
  body {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}